/*
 Theme Name:   Charitywp Child
 Theme URI:    http://charitywp.thimpress.com/
 Description:  Charitywp Child Theme
 Author:       ThimPress
 Author URI:   http://thimpress.com
 Template:     charitywp
 Version:      1.0.0
 Text Domain:  charitywp-child
*/

/*
 Theme Name:   Charitywp Child
 Theme URI:    http://charitywp.thimpress.com/
 Description:  Charitywp Child Theme
 Author:       ThimPress
 Author URI:   http://thimpress.com
 Template:     charitywp
 Version:      1.0.0
 Text Domain:  charitywp-child
*/

/* Footer styles */
.widget-footer-title {
margin-bottom: 60px;
}

.menu-horizontal li {
display: inline-block;
margin-right: 25px;
}

.footer-social-border-color > div > div > div > ul > li{
border-color: #fff !important;
}

/*Citas con comillas grandes */
.comillas img{
    width: 40px;
    display: inline-block;
    vertical-align: top;
}
.comillas p{
    display: inline-block;
    width: 90%;
    font-size: 28px;
    line-height: 1.34;
}
.comillas p>img{
width: 40px;
}
.autor-quote{
float: right;
width: 33.33%; 
color: #cf0a2c;
font-size: 18px;
}
 .autor-quote span{
font-size: 14px;
color: #424243;
margin-top: 5px;
margin-left: 25px;
} 
.autor-quote:before {
content: "\2014 \2009";
}

/*Seccion Descubre*/

.small-icon-oqs{
    padding: 10px;
}
.small-icon-oqs img{
display: inline-block;
    width: 30px;
    vertical-align: top;
}
.small-icon-oqs span{
color:#cf0a2c;
    font-size: 18px;
    margin-left: 15px;
}

/*Seccion logros*/
.logros {
    text-align:center;
    line-height: 1.3;
    width: 75%;
    margin: 0 auto;
    }
.logros img {
    display:block;
    margin: 5px auto;
    }
.logros strong {
    display:block;
    color: #cf0a2c;
    font-size: 24px;
    
    }
.down{
    width: 50%;
    margin: 20px auto 0;
    }
/*Form styles*/

input, select, textarea {
    font-size: 15px;
    font-weight: 400;
    font: 'Montserrat';
}
.name {
width: 47%;
width:  calc( ( 100% - 20px ) / 2)!important;
display: inline;
}
.donate_form_layout input, .donate_form_layout textarea {
    border: 1px solid #eee;
    width: 100%;
    margin-bottom: 30px !important;
    line-height: 38px;
    padding: 0 10px;
    color: #999;
    max-height: 200px;
    min-height: 40px;
    border-radius: 0;
}

.fluid-container {
width:90%;
}
.form-popup .donate_form h2 {
    color: #333333;
    margin-top: 20px;
}
.form-popup .donate_form p {
    text-align: center;
    margin-bottom: 20px;
}

.form-popup {
   /* display: none;*/
    position: relative;
    background: #f1f4f8;
    padding: 20px;
    width: auto;
    min-width: 500px;
    max-width: 600px;
    margin: 20px auto;
}

.form-popup.active {
    display: block;
}

.contact-footer {
color: #fff;
}

.contact-footer:hover {
color: #cf0a2c;
}

#msj-loader > img {
display: block;
margin: 10px auto; 
}

.donate_form_layout > p {
text-align:center;
}

/*Formulario Pago Eventos*/
.payment-warning {
font-size:12px;
color: #cf0a2c;
}

.cprivacy1 {
margín-top: 15px;
font-size:12px;
}

.img-b {
    display: block;
    margin: 10px auto;
    max-width: 120px;
}
.main-b {
text-align:center;
margin: 15px auto 15px !important;
}
.main-b strong {
font-size: 18px;
}


/* 
    ESTILOS GENERALES y OVERRIDE HK
*/
.thim-toggle-mobile-menu .inner:before, .thim-toggle-mobile-menu .inner:after {background-color: #252525 !important;}
.thimpress_donate_button {text-align: center;margin: 0 auto;display: block;}
.owl-item .item{max-width: 150px !important;padding: 10px;max-height: 120px;}
.owl-carousel .owl-item img {width: auto !important;}
.sow-image-container img{width: 150px;display: block;margin: 0 auto;}
.thim-logo img.logo {position: absolute;top: -60px;max-width: 150px;}
.thim-content-slider .slides-wrapper .scrollable>li .slide-content:before {background: #98111c !important;}
.thim-content-slider .control-nav {color: #98111c !important;border-color: #98111c !important;}
.thim-content-slider .slides-wrapper .scrollable>li .slide-content {border-color: #FFFFFF;background-color: #fff;}
.thim_header_style2 .toolbar-sidebar .thim-social ul li a {border-color: #98111c;}
.footer-social-border-color .thim-social ul li a {border-color: #fff;}
.counter-label {color: #333 !important;}
.thumbnail {border: none !important;}
.override {position: static !important;}
.override-w {width:100% !important;}
blockquote {border-left: none !important;}
b, strong {font-family:Montserrat !important;font-weight: 400;}
body {line-height: 1.9 !important; }

/*hkn*/    
.single-galerias main#main{width: 100%!important;}
.image_pool div.img_container{margin-bottom:30px;}
.image_pool div.img_container img{height:240px;width:auto;}
.sow-video-wrapper{text-align: center;}
.so-widget-sow-video h3.widget-title{text-align: center;margin-top: 60px;}

/*VIDEO YT*/
.sow-video-wrapper iframe{width:100%;}

/*HEADERS*/
.tp-loop-wrap div.tp-mask-wrap h3{text-shadow:1px 1px 2px rgba(0,0,0,0.4);}
.top_site_main .page-title-wrapper .heading__primary{color:#fff;text-shadow:1px 2px 1px rgba(0,0,0,0.4);}
.thim_header_overlay .top_site_main{min-height:400px;}

/*FORM BUTTONS*/
#pg-5434-5{margin-top:60px;}

/*Acerca image*/
.page-id-5423 section.content-area div.thim-parallax-image{background-position:0px -300px!important;}

.club_premier{position:absolute;top:4.5%;right:2%;z-index: 10;width:250px;height:auto;}
.club_premier img{box-shadow: 2px 2px 2px rgba(255,255,255,0.3)}
.club_premier img:hover{box-shadow: 3px 3px 3px rgba(255,255,255,0.5)}
.club_premier p{margin-bottom:0px;}
.ul_premier{background: white;position:relative;right:15px;width:250px;list-style:none;padding:0px 10px;}
.ul_premier li a{color:#333333;font-size: 80%;}
.ul_premier li a:hover{color:#cf0a2c;}
.ul_premier li:first-child{border-bottom:1px solid rgba(0,0,0,0.3);padding-bottom:10px;}
.ul_premier li:last-child{padding-top:10px;}

/*DONACIONES*/
.club_premier_don{z-index: 10;width:100%;height:auto;}
.club_premier_don img{box-shadow: 2px 2px 2px rgba(255,255,255,0.3);width:30%;height: auto;}
.club_premier_don img:hover{box-shadow: 3px 3px 3px rgba(255,255,255,0.5)}
.club_premier_don p{margin-bottom:0px;}
.ul_premier_don{background: white;position:relative;right:15px;width:100%;list-style:none;padding:0px 10px;}
.club_premier_don div{float:left;}
.ul_premier_don li a{color:#333333;font-size: 80%;}
.ul_premier_don li a:hover{color:#cf0a2c;}
.ul_premier_don li:first-child{border-bottom:1px solid rgba(0,0,0,0.3);padding-bottom:10px;}
.ul_premier_don li:last-child{padding-top:10px;}
.ul_premier_don li{display:inline-block;}

.textwidget div.img_prem{position:relative;height: 300px;overflow: hidden;}
.textwidget div.img_prem img{position: absolute;top:-9999px;left:-9999px;right:-9999px;bottom:-9999px;margin:auto;height: 100%; width:auto;}
.textwidget div.txt_prem{margin-top:30px;}

.theiaStickySidebar{display:none!important;}

/*GALERIAS*/
.gallery_archive_post{width:calc(48% - 1px);float:left;margin-right:2%;margin-bottom:30px;}
.gallery_archive_post div{width:100%;}
.gallery_archive_post h2{font-size:30px;}

/*LANDING PAGE DARK DINNER*/
/*.article_header p.subtitle{display:inline;border-top:3px double #ff0000;border-bottom:3px double #ff0000;padding: 10px;font-size: 180%;}.the_article{text-align: center;padding-top:60px;font-size: 120%;}.the_date{font-size: 180%;}._parr{font-size: 140%;}.oqs_data{font-size: 75%; color:#ff0000;}.mini_txt{font-size: 70%;}.sponsor_pool ul.sponsor_list{list-style: none;text-align: center;}ul.sponsor_list li{display:inline-block;width: 170px;padding:10px;height: 90px;}ul.sponsor_list li img{height:100%;width:auto;}.sponsor_pool ul.ul_4{height: 80px;}.sponsor_pool ul.ul_3 li:last-child img{width: 100%;height: auto;}*/

.page-template-page-concierto-en-la-oscuridad h2{font-size: 3vw!important;}
.txt{font-size: 180%;}
div.lan_sides{display:inline-block;width:calc(50% - 40px);margin:0px;vertical-align: top;}
.darkblue_bg{background: #151a2d;}
.the_lilborder{background: #d00a2d;width:5%; height: 3px; margin:0 auto;}
.the_lilborder_w{background: #fff;width:5%; height: 3px; margin:0 auto;}
.mob_img{display: none;}

#landing_header{position:fixed;top:0px; left:0px;right:0px;z-index: 9;width:100%;}
#landing_header header{width: 100%; height: 130px;}
#landing_header header ul{list-style: none;}
#landing_header header ul li{display: inline-block;margin:45px 20px;}
#landing_header header ul li a{color:#fff;}
#landing_header header ul li a:hover{color:#dd3333;}
#landing_header .selected{color:#dd3333;}

#landing_main{padding-top:130px;}
#landing_main div.cutted_div{height: 650px;text-align: center;}
div.lan_sides.title_side{text-align: left;}
#landing_main div div.title_side h1{color:#fff;padding-top:20px;width: 100%;font-size: 3vw;}
#landing_main div div.title_side h1 span{color:#d00a2d;}

figure.retrato{width:1024px;height:835px;position:relative;top:0px;right: 0px;overflow: hidden;}
figure.retrato section.imagen{width:auto;height:100%; position:absolute;top:-9999px;left:-9999px;right:-9999px;bottom:-9999px;margin:auto;background: url(./images/landing/handsup-concert.jpg);background-position: center;background-repeat: no-repeat;}
/*figure.retrato section.imagen img{}*/
figcaption.caption{height:100%;background-color:rgba(0,0,0,0.5);position:absolute;top:0px;left: 0px;width: 100%;text-align: center;padding-top:6%;color:#fff;}
figcaption.caption h2{color:#fff;}

figure.retrato_artista{width:100%;height:350px;margin:0 auto;position: relative;}
figure.retrato_artista section.imagen{text-align: center;position: relative;top:0;left:0;overflow: hidden;width: 100%;height: 350px;}
figure.retrato_artista section.imagen img{position: absolute;width: 100%; height: auto;top:-9999px;left:-9999px;right:-9999px;bottom:-9999px;margin:auto;}
figcaption.caption_interactive{height:100%;background-color:rgba(208,10,45,0.3);position:absolute;top:0;left:0;width: 100%;text-align: center;padding:15% 5%;color:#fff;}
figcaption.caption_interactive h2{color:#fff;font-size:24px;}
figcaption.caption_interactive p.txt{font-size:140%;text-align: center;}
.caption_interactive a.go_bio{border: 1px solid white;border-radius: 20px;padding:10px;color:#fff;}

#acerca_concierto{padding:170px 0px;}

div.normal-div h2, .ap_sides h3{text-align: center;color:#d00a2d;}
div.color_div h2{color:#fff;text-align: center;}
div.normal-div h2, div.color_div h2{font-size: 4vw;}
#acerca_concierto div.normal-div div.lan_sides{margin-top:135px;padding:0px 50px;vertical-align: middle;}
#acerca_concierto div.normal-div div.lan_sides p strong{font-weight: bold;}
#acerca_concierto div.normal-div div.lan_sides p strong span{color:#d00a2d;}
#acerca_concierto div.normal-div div.lan_sides p.emphasis{font-size: 150%;}

#artistas_concierto{padding:170px 0px;}
#artistas_concierto ul.artists_list{margin:130px 0px 0px 0px;text-align: justify;min-width: 620px;padding:0px 50px;list-style: none;}
.artists_list li{display: inline-block;width:calc(33% - 10px);}
#artistas_concierto ul.artists_list:after{content:'';width: 100%;display: inline-block;}

/*TABLE*/
#aliados_concierto{padding:170px 0px 0px 0px;}
.patrocinadores{table-layout: fixed;width:90%;margin:60px auto;}
.patrocinadores td{width:20%;max-height:150px;text-align: center;}
.patrocinadores td img{max-height: 159px;}
.become{color:#fff;background:#d00a2d;width:100%;height: 105px;text-align: center;}
.become p{padding-top:35px;}
.become p a{border:2px solid white;border-radius: 15px;padding:3px 8px;color:#fff;}
.patrocinadores tr.medianos td img{max-height: 70px;}
.patrocinadores tr.chicos td img{max-height: 50px;}
#aliados_concierto span{padding:40px;}
#aliados_concierto div.the_lilborder{margin-bottom:130px;}

/*FOOTER CONTACT LIST*/
#landing_footer{background: #fff;}
#footer_contact_list{width:80%;margin:0 auto;text-align: justify;padding-top:20px;}
#footer_contact_list li{display:inline-block;width:calc(33% - 10px);}
#footer_contact_list li a, #footer_contact_list li a i{color:#000;}
#footer_contact_list:after{content:'';width: 100%;display: inline-block;}
.fc_item a i{margin-right: 5px;}

/*ARTISTAS*/
section#artistas_page, section#apoya_page{padding-top:130px;}
section#artistas_page div.normal-div, section#apoya_page div.normal-div{padding-top: 130px;}
.page-template-page-artistas section#artistas_page ul.ar_list{width:90%;margin:130px auto;list-style: none;}
.page-template-page-artistas section#artistas_page ul.ar_list li.ar_item{box-shadow: 2px 2px 5px rgba(0,0,0,0.3);border:1px solid rgba(0,0,0,0.02);margin-bottom:90px;}
.page-template-page-artistas section#artistas_page article.ar_article div.ar_sides{display: inline-block;vertical-align: top;}
.page-template-page-artistas section#artistas_page article.ar_article div.ar_img{width:22%;}
.page-template-page-artistas section#artistas_page article.ar_article div.ar_bio{width:77%;padding:20px;}
.page-template-page-artistas section#artistas_page article.ar_article div.ar_sides h2{text-align: left;margin:0px;}

/*DARK DINNER BOLETOS*/
#dd_boletos{width: 100%; height: 60px;}
#dd_boletos p{color:#fff; font-weight: bold;text-align: center;line-height: 60px;background: #d00a2d;width: 100%;}
#dd_boletos p:hover{color:#d00a2d;background:#151a2d;border-top: 1px solid #d00a2d;box-shadow: 0px 2px 5px rgba(0,0,0,0.4);}


/*APOYA*/
.ap_sides{display: inline-block;width: calc(50% - 10px);padding:0px 20px;}
.ap_sides h3{text-align: left;}
.ap_sides ul.side_ul{display: inline-block;list-style: none;margin:0px;width: calc(50% - 10px);}
.ap_sides ul.side_ul li i{color:#d00a2d;margin-right: 10px;font-size: 30px;}
.ap_sides ul.side_ul li{margin:10px 0px;}
.normal-div div.sides_block{width: 90%;margin:120px auto;}
.quote_div{width:100%;height: auto;background:#d00a2d;text-align: center;padding:30px 50px;}
.quote_div p, .quote_div h3{color:#fff;font-size: 140%;}
.hidden_ul{list-style: none;width: 80%;margin:120px auto;}
.hidden_ul li{margin:30px 0px;}
.clickable{cursor: pointer;}
.clickable div:first-child{border-left:5px solid #d00a2d;padding-left:30px;}
.hidden_ul div.tab_header p{font-size: 25px;color:#d00a2d;font-weight: bold;}
.hidden_ul div.tab_header p i{ margin:0px 10px;font-size: 30px}
.hidden_ul div.tab_header p span{float:right;}
.plegable h3{font-size: 140%; font-weight: bold;}
.plegable ul{list-style: none;}
.plegable ul li::before{content: '•'; color:#d00a2d;}
.plegable ul li span{padding-left:30px;}
.last_titles{width:94%;margin:0 auto;}
.last_titles p{font-weight:bold;}

/*MOBILE MENU*/
.overscreen{width:70%;padding:20px;position:absolute;top:0;left:0;z-index: 998;}
.overscreen ul{list-style: none;margin:20px 0px 0px 0px;width: 100%;}
.hamburguer{margin:0px;position: absolute;top:10px; left:10px;z-index: 999;list-style: none;}
.hamburguer li{width:30px;height: 5px; background:#d00a2d;margin:3px 0px;}


@media(max-width: 1280px){
    #landing_main div.cutted_div{height: 460px;}
    figure.retrato{height:545px;}
}

@media(max-width:1024px){
    .lan_des_menu{display: none;}
    #landing_main{padding-top: 0px;}
    #acerca_concierto div.normal-div div.lan_sides{vertical-align: top;padding:0px 10px;}
    div.cutted_div div.lan_sides{width: 100%;display:block;}
    div.lan_sides.title_side{position: absolute;top:130;left:0;z-index: 1;padding: 0px 40px;}
    div.lan_sides figcaption.caption{text-align: right;padding:160px 40px;}
    .mob_img{display: block;}
    .des_img{display: none;}
    #landing_main div div.title_side h1{font-size: 8vw;}

}


@media(max-width: 768px){
    .tp-loop-wrap div.tp-mask-wrap h3{color:#fff!important;}
    div.tp-caption.tp-layer-selectable{color:#fff!important;}
    .club_premier{position:relative;margin:0 auto 20px auto;}
}

@media(max-width: 414px){
    .page-template-page-concierto-en-la-oscuridad h2{font-size: 5vw!important;}
    #acerca_concierto div.normal-div div:nth-of-type(2){display:none;}
    div.lan_sides{width:100%;}
    .artists_list li{width: 100%;display: block;margin:30px 0px;}
    #artistas_concierto ul.artists_list{min-width: 320px;}
    #footer_contact_list li{display: block;width: 100%;}
    section#artistas_page, section#apoya_page{padding-top:0px;}
    section#artistas_page div.normal-div, section#apoya_page div.normal-div{padding-top:0px;}
    .ap_sides{display: block;width: 100%;}
    .hidden_ul div.tab_header p{font-size: 15px;}

}